
.about-me {
    width: 100%;
    padding: 5%; 
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto

}



.short-story {
    
    padding: 0 3% 0 0; /* Adjusted padding for better alignment */
    flex: 1; /* Ensures text takes up available space */
   
}



.about-me-dash {
    width: 60px;
    height: 3px;
    background-color: var(--btn-social-color);
    margin-bottom: 2vh;
   
}

.short-story h2 {
    font-weight: 200;
    font-size: calc(1.5rem + 1vw);
}

.short-story h2 .about-me-me {
    font-weight: 600;
    
}

.short-story h4 {
    margin-bottom: 2vh;
    font-size: calc(0.8rem + 1vw);
}

.first2-para {
    margin-left: 400px;
    margin-right:0px;
    padding: 0px 60px;
    
}

.short-story p {
    width: 100%;
    line-height: 35px;
}




.about-me-image img {

    max-width: 400px;
    width: 100%; /* Ensures image scales properly */
    height: auto; /* Maintains aspect ratio */
    float: left;
    border-radius: 8px; /* Optional: Adds a modern touch */

}
   
@media screen and (max-width: 920px) {

    .about-me {
        flex-direction: column;
        align-items: center; /* Aligns content to the start */
        gap: 0px; /* Adjusted gap for better spacing */
    }


    .about-me-image img {
        width: 80vw;
        max-width: 600px;
        float: none;
        margin-left: 5vw;
        max-width: 100%; 
    }
   
    .first2-para {
    
        margin-left:2vw;
        padding: 2vw 4vw;
        
    }

    .short-story h2,
    .short-story h4,
    .about-me-dash{
    text-align: center; /* Center text */
    margin-left: auto;  /* Remove default left margin */
    margin-right: auto; /* Remove default right margin */
    margin-top: 0px;

}
.short-story h4 {
    margin-bottom: 2vh;
    font-size: calc(0.8rem + 2vw);
}

 .short-story{
    margin-top: 50px;
 }
    


    

}
