
.about-me {
    width: 100%;
    padding: 5%; 
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px; 
}



.short-story {
    
    padding: 0 3% 0 0; /* Adjusted padding for better alignment */
    flex: 1; /* Ensures text takes up available space */
   
}

.short-story h2 {
    font-weight: 200;
    font-size: calc(1.5rem + 1vw);
    margin-bottom: 1vh; /* Reduced margin for tighter spacing */
}

.about-me-dash {
    width: 60px;
    height: 3px;
    background-color: var(--btn-social-color);
    margin-bottom: 2vh;
   
}

.short-story h2 .about-me-me {
    font-weight: 600;
    
}

.short-story h4 {
    margin-bottom: 2vh;
    font-size: calc(0.8rem + 1vw);
}

.short-story p {
    width: 100%;
    line-height: 35px;
}



.about-me-image img {

    max-width: 400px;
    width: 100%; /* Ensures image scales properly */
    height: auto; /* Maintains aspect ratio */
    float: left;
    margin-right: 20px;
    border-radius: 8px; /* Optional: Adds a modern touch */

}
   
@media screen and (max-width: 920px) {

    .about-me {
        flex-direction: column;
        align-items: flex-start; /* Aligns content to the start */
        gap: 20px; /* Adjusted gap for better spacing */
    }


    .about-me-image img {

        width: 90vw;
        max-width: 600px;
        float: none;
        margin-right:0px;
        max-width: 100%; 
    
    }


    .content-about-me p {

        max-width: 800px;
    }

    .short-story h2,
    .short-story h4,
    .about-me-dash{
    text-align: center; /* Center text */
    margin-left: auto;  /* Remove default left margin */
    margin-right: auto; /* Remove default right margin */
    margin-top: 0px;

}
.short-story h4 {
    margin-bottom: 2vh;
    font-size: calc(0.8rem + 2vw);
}

 .short-story{
    margin-top: 50px;
 }
    


    

}
