.contact-section {
    position: relative;
    background-image: none; /* Remove the background image from here */
    width: 100%;
    height: auto;
}

.contact-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Images/contact-wall-3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(50%);
    z-index: -1; /* Place it behind the content */
}

.dark-mode .contact-section::before {
    filter: brightness(30%);
}
    



.contact-wrap-container {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 40px 20px;
    /*background-color: #ebeff3;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   
}

.contact-container, .contact-details {
    width: 100%;
    max-width: 400px; /* Reduced the max-width to make the containers less wide */
    height: auto;
    padding: 20px;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;

   
    
}

.dash-contact {
    width: 60px;
    height: 3px;
    background-color: var(--btn-social-color);
    margin-bottom: 2vh;
}

.contact-form {
    width: 100%;
}

.contact-form h2 {
    font-size: calc(10px + 1.8vw);
    color: var(--nav-primary-color);
    margin-bottom: 10px;
}

.contact-form p {
    font-size: calc(8px + 0.9vw);
    color: var(--nav-primary-color);
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    height: 120px;
}

#btn-contact {
    padding: 10px 20px;
    background-color: var(--btn-social-color);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

#btn-contact:hover {
    background-color: #050b7ec5;
}



.contact-details h3 {
    font-size: calc(10px + 1.8vw);
    color: var(--nav-primary-color);
    margin-bottom: 10px;
}

.contact-details p {
    font-size: calc(8px + 0.9vw);
    color: var(--nav-primary-color);
    margin-bottom: 30px;
}

.contact-details ul {
    list-style-type: none;
    padding: 0;
}

.contact-details ul li {
    font-size: calc(8px + 0.9vw);
    color: var(--nav-primary-color);
    margin-bottom: 15px;
}

.contact-details ul li i {
    margin-right: 10px;
    color: var(--btn-social-color);
    font-size: calc(18px + 0.9vw);
}

.social-icons {
    margin-top: 20px;
    
}

.social-icons a {
    
    color: var(--nav-primary-color);
    font-size: calc(10px + 1.1vw);
    margin-right: 2.5vw;
}

.social-icons a:hover {

    color: var(--btn-social-color);
}


/* Media Queries */
@media screen and (min-width: 768px) {
    .contact-wrap-container {
        flex-direction: row;
        justify-content: space-evenly; /* Distribute space evenly between containers */
        align-items: center;
        padding: 60px 40px;
    }

    .contact-container, .contact-details {
        max-width: 40%; /* Further reduce width for a more centered layout */
        margin-bottom: 0;
    }

    .contact-details {
        text-align: left;
    }

   

    .social-icons {
        margin-top: 50px;
       
    }
}


@media screen and (max-width: 780px) {
    .contact-form h2 {
       margin-top: 20px;
    }

    .contact-section p {

        font-size: 20px;
    }


    .contact-details ul li  { 

     font-size: 20px;
     padding: 10px;
    
    }

    .contact-details ul li i { 

        font-size: 30px;
       }


       .social-icons {
        
        margin-top: 60px;
        text-align: center;
       }


       .social-icons a {

       font-size: 30px;
       margin: 15px;

       }


       .contact-section h2  {

        font-size: 35px;
       }

       .contact-section h3  {

        font-size: 30px;
       }
}