

.pricing {
    text-align: center;
    padding: 150px 60px;
    
    background-color: var(--light-grey-color);
}

.pricing h4 {

    margin-top: 40px;
    font-size: large;
    font-weight: 500;

}

.pricing h2 {
    
    margin-bottom: 10px;
    font-size: calc(1.5rem + 1vw);
}

 h2 .your-price {
    font-weight: 200;
    font-size: calc(1.5rem + 1vw);
}

.pricing p {
    font-size: 18px;
    color: var( --sub-title-price);
    margin-bottom: 40px;
}

.pricing-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 7vw;
    margin-top: 60px;

   
   
}



.pricing-card {
    flex: 1 1 250px;
    background-color: #ebeef7 ; /* Mint Green */
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    min-width: 200px;
    max-width:300px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    animation: appear 0.5s linear; /* Add duration */
    animation-fill-mode: forwards; /* Ensure the final state persists */
    animation-timeline: view(); /* This is not a standard property, you may remove it */
    animation-range: entry 0% cover 40%; /* This is also not standard, you may remove it */
}

.pricing-card:hover {
    background-color: #ced8f7;
}
/*
.buy-btn {
    background-color: #03346E; 
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buy-btn:hover {
    background-color: #6EACDA; 
}
*/

.pricing-card h3 {
    font-size: calc(1.5rem + 1vw);
    margin-bottom: 15px;
    color: #333;
}

.pricing-card .price {
    font-size: 40px;
    color: #333;
    margin-bottom: 10px;
}

.from-price {
   
    font-size: 1.5rem; 
}

.pricing-card p {
    color: #777;
    margin-bottom: 20px;
}

 .sub-price {
    font-weight: 600;
    font-size: large;
}

.pricing-card ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.pricing-card ul li {
    margin: 10px 0;
    color: #555;


}

    


@media screen and (max-width: 480px) {
    
    .pricing-card {

        padding: 20px;
        
        max-width:250px;
    }
        .pricing-card h3 {
            
            font-size: 20px;
            
        }
        
        .pricing-card .price {
            font-size: 25px;
           
        }
        
        .from-price {
           
            font-size: 1.2rem; 
        }
        
        .pricing-card p {
            
            font-size: 20px;
        }
        
         .pricing-card ul li {

            font-size: 14px;
            
       }
}


@keyframes appear {

   from {
        opacity: 0;
        transform: scale(0.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}