
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/************************************************HERO-SECTION*************************************************/

:root {
    --primary-color: #fff;
    --nav-primary-color: #fff;
    --secondary-color: #222831;
    --header-color: #33333b;
    --btn-social-color: #597cff;
    --fonts-color: #2C3E50;
    --light-grey-color:#f8f8f8;
    --sub-title-price-: #888

  
}

.dark-mode {

    --nav-primary-color: #fff;
    --primary-color:#272829;
    --secondary-color:#fff;
    --light-grey-color: #2a2b2c;
    --fonts-color:#fff;
    --sub-title-price: #fff
    
}

body {
    background: var(--primary-color);
    color: var(--secondary-color);
    overflow-x: hidden;
    
   
}


.dash-home {
    width: 30px;
    height: 8px;
    background-color: var(--btn-social-color);
    margin-bottom: 2vh;
    position: relative;
    z-index: 100;

}




.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 7%;
    background-color: var(--header-color);
    display: flex;
    align-items: center;
    z-index: 300;
    height: 11%;
    min-height: 60px;
  
    
  }

  .logo img {
    width: 100%; /* Ensures the logo scales with its container */
    max-width: 300px; /* Sets a max width for larger screens */
    height: auto; /* Maintains aspect ratio */
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    
  
}

.navbar a {
    position: relative;
    display: inline-block;
    font-size: 18px;
    color: var(--nav-primary-color);
    text-decoration: none;
    font-weight: 500;
    margin-right: 35px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));


    transition: all 0.3s ease;
}
    
.navbar a:hover {
    font-size: 18px;
    color: var(--btn-social-color); /* Change text color on hover */
   
}

.navbar a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: var(--btn-social-color);; /* Underline color */
    left: 0;
    bottom: 0;
    transition: all 0.3s ease;
}

.navbar a:hover::after {
    width: 100%; /* Underline grows to full width on hover */
}



.navbar a:last-child {
    margin-right: 0; /* Remove right margin from the last anchor */
}

.toggle {
    display: flex;
    margin-top: 1px;
    cursor: pointer;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1.5s;
    transition: all 0.3s ease;

}
.toggle .toggle-icon{
    font-size: 30px; /* Adjust size as needed */
    color: var(--nav-primary-color);
    margin-left: 20px; /* Add some spacing from the last navbar link */
}

.toggle:hover .toggle-icon {
    color: var(--btn-social-color); /* Change icon color on hover */
   
}




.home {
    
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url('Images/white_wall.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    position: relative;
    }

.home-wrap {
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.4); /* White with 50% transparency */
          
      }



.dark-mode .home {
    
    background-image: url('Images/black_wall.png');
   
    
}


.dark-mode .home-wrap {

    background-color: rgba(0, 0, 0, 0.4); 
}

.home .home-content {
    max-width: 600px;
    margin-left: 100px;
    z-index: 100;
}


.home-content h3 {
    margin-bottom: 2%;
    font-size: 2.5vw;
    line-height:.8;
    opacity: 0;
    animation: slideRight 0.8s ease forwards;
    animation-delay: .1s;
}

.home-content h1 {
    font-size: calc(2.5vw + 2vh);
    font-weight: 700;
    line-height: 1;
    opacity: 0;
    animation: slideRight 0.8s ease forwards;
    animation-delay: .1s;
    margin-bottom: 4%;
}



.home-content p {
    font-size: calc(8px + 1.2vw);
    font-weight: 500;
    margin-top: 20px;
    max-width: 500px;
   
    opacity: 0;
    animation: slideLeft 0.8s ease forwards;
    animation-delay: .1s;
   
}

.social-media  {
   
    text-decoration: none;
    margin-top: 20px ;
}

.social-media a {
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
   
    background: transparent;
    border-radius: 50%;
    font-size: 25px;
    color: var(--btn-social-color);
    border: 2px solid var(--btn-social-color);
    text-decoration: none;
    margin: 25px 15px 30px 0;
    box-shadow: 0 2px 5px rgba(25, 113, 172, .2);
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.1.5s * var(--i));
   
}

.social-media a:hover {
    background: var(--btn-social-color);
    color: #fff;
    
    transform: scale(2.2); /* Increases the size by 20% */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Optional: Add shadow effect */
}


.btn {
    
    display: inline-block;
    padding: 12px 28px;
    background: var(--btn-social-color);
    border: 2px solid transparent;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Increased shadow */
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
    animation-delay: .5s;
}

/* New hover effect */
.btn:hover {
    transform: translateY(-5px); /* Button lifts slightly on hover */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4); /* Shadow becomes more intense */
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}


.btn:hover {
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
    
}

.home-img {
    margin-right: 100px;
    margin-left: 7vw;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1.2s;
    z-index: 100;
}

.home-img img {
    border-radius: 50%;
    max-width: 30vw;
   
    
    
    
}

.what-i-do-do {
    background-color:var(--light-grey-color); 
    padding: 3%;
    overflow: hidden;
}

.what-i-do {
    width: 100%;
    text-align: center;  /* Change from center to left */
    font-size: calc(1.3rem + 1vw);
    font-weight: 200;
   /* text-align: left;
   padding-left: calc(50% - (67px + 3.7vw));  */
    padding: 8hv;
    margin-top: 8vh;
}

.dash-what-i-do {
    width: 60px;
    height: 3px;
    background-color: var(--btn-social-color);
    margin: 0 auto;
    margin-top: 2vh;
   /* margin: 0 0 8vh calc(50% - (60px + 3.7vw)); 
    position: relative; */
}

.do {
  font-weight: 600;
  font-size: calc(1.5rem + 1vw);
}



.profession-container {
    text-align: center;
    margin:8vh 0 8vh 0;
}

.profession-box {
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
    margin-bottom: 5vh;
    
}

.profession {
   
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    
}

.profession.show {
    opacity: 1;
    transform: translateY(0);
}


.profession i {
    font-size: 3vw; 
    margin-bottom: 10px;
   
    
}

.profession h3 {
    margin: 0;
    font-size: calc(1vw + 1vh);
}


/*########################################## ILLUSTRATION SECTION DOWN ########################################*/

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 20px;
    max-width: 1500px;
    margin:auto;
    margin-bottom: 15vh;
    margin-top: 15vh;
}

.content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--primary-color);
    padding: 20px;
    box-shadow: 0 0 10px #ccc;
    border-radius: 8px; 
}

.dash {
    width: 30px;
    height: 8px;
    background-color: var(--btn-social-color);
    margin-bottom: 2vh;

}

.content-left h1 {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 2vh;
 padding-bottom: 10px;
}

.content-left p {
    margin-bottom: 2vh;
    font-size: 22px;
}

.content-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.features-row {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
}

.feature {
    flex: 1;
    background: var(--primary-color);
    padding: 20px;
    box-shadow: 0 0 10px #ccc;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    border-radius: 8px; 
}

.feature.show {
    opacity: 1;
    transform: translateY(0);
}

.feature h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.feature p {
    font-size: 20px;
}

.icons img {
    width: 30px;
    height: auto;
    margin-left: 10px;
}






/* ... (keep all existing CSS) ... */

/* Media Queries for Responsiveness */
@media screen and (max-width: 920px) {

   

    .header {
        padding: 20px 5%;
    }

    .logo img {
        max-width: 150px;
    }

    .navbar {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100;
        height: auto;
        background: var(--primary-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.3s ease;
        background-color: var(--header-color);
        opacity: 0.9;
    }

    .navbar.active {
        right: 0;
    }

    .navbar a {
        margin: 20px 0;
        font-size: 18px;
    }

    .navbar a {
        position: relative;
        display: inline-block;
        font-size: 18px;
        color: var(--nav-primary-color);
        text-decoration: none;
        font-weight: 500;
        opacity: 0;
        transform: translateX(100px);
        transition: all 0.3s ease;
    }
    
    .navbar.active a {
        animation: slideIn 0.5s forwards;
        animation-delay: calc(0.1s * var(--i));
    }
    
    @keyframes slideIn {
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }


    .navbar a:hover {
        
        color: var(--btn-social-color);
       
        
    }

    .navbar a::after {
        
        background: none;; /* Underline color */
        
    }

    .burger {
        position: absolute;
        right: 80px;
        display: block;
        cursor: pointer;
        z-index: 101;
        opacity: 0;
        animation: slideLeft 1s ease forwards;
        animation-delay: 1.2s;
        transition: all 0.3s ease;
    }

    .toggle {
        position: absolute;
        right: 30px;
        display: block;
        cursor: pointer;
        z-index: 101;

    }

    .burger .line {
        width: 25px;
        height: 3px;
        background: var(--nav-primary-color);
        margin: 5px;
        transition: 0.3s ease;
    }

    .burger.active .line:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .burger.active .line:nth-child(2) {
        opacity: 0;
    }

    .burger.active .line:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .home {
        flex-direction: column-reverse;
        padding: 80px 5% 100px;
        height: auto;
    }

    .home .home-content {
        margin-left: 0;
        text-align: center;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .home-content h3 {
        font-size: 24px;
    }

    .home-content h1 {
        font-size: 36px;
    }

    .home-content p {
        font-size: 16px;
    }

    .home-img {
        margin-right: 0;
        margin-left: 0;
    }

    .home-img img {
        max-width: calc(100px + 20vw);
    }

    .social-media {
        justify-content: center;
        
    }


   
    .btn {
        margin-top: 20px;
    }

    .dash-home {
        width: 100px;
        height: 3px;
        background-color: var(--btn-social-color);
        margin-bottom: 2vh;
        margin: 0 auto 30px auto;
    
    }
    

    .container {
        grid-template-columns: 1fr;
    }
    .features-row {
        flex-direction: column;
    }
   

}





@media (max-width: 720px) {
    .profession-box {
        flex-direction:column;
        
    }

    .profession {
        margin: 6vw;
        font-size: 6.5vw; 
    }

    .profession i {
        font-size: 6vw;
    }
    .profession h3 {

       
        margin: 0;
        font-size: calc(2vw + 1vh);

    }

    

}

@media screen and (max-width: 480px) {

    .logo img {
        max-width: 110px;
    }

    .home-content h3 {
        font-size: 20px;
    }

    .home-content h1 {
        font-size: 28px;
    }

    .home-content p {
        font-size: 22px;
    }

    .home-img img {
        max-width: calc(70px + 40vw);
        margin-top: 40px;
    }

    .btn {
        padding: 10px 20px;
        font-size: 14px;
    }


    .content-about-me p {

        font-size: 20px;
    }

    .what-i-do {
        margin-top: 90px;
    }

  
    .profession i {
        font-size: 8vw;
    }
    .profession h3 {

       
        margin: 0;
        font-size: calc(3vw + 1vh);

    }


    /*-----------------------------------portfolio -------------------------------*/
/*
    .portfolio-btn {
        --b: 3px;   
        --s: .15em; 
        font-size: 0.3rem;
        margin: .4em;

    }

   */

   


}








/*############################################# ILLUSTRATION SECTION UP ##############################




  
  
  

/*KEYFRAMES ANIMATION*/

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translate(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideTop {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes professionRotate {
    0%, 20% {
      transform: rotate(0deg);
    }

    25%, 45% {
        transform: rotate(-90deg);
      }

      50%, 70% {
        transform: rotate(-180deg);
      }

      75%, 95% {
        transform: rotate(-270deg);
      }

      100% {
        transform: rotate(-360deg);
      }
}